@font-face {
  font-family: "Hanken Grotesk";
  src: url(/assets/fonts/HankenGrotesk-VariableFont_wght.ttf),
    url(/assets/fonts/static/HankenGrotesk-Bold.ttf),
    url(/assets/fonts/static/HankenGrotesk-Medium.ttf),
    url(/assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
}

body {
  background-color: hsla(222, 100%, 96%, 0.31);
  font-family: "Hanken Grotesk";
  height: 100vh;
  display: grid;
}

.container {
  max-width: 700px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Box Left */
.box-left {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(234, 85%, 45%));
  border-radius: 30px;
  text-align: center;
  z-index: 1;
}

.box-left h2 {
  color: rgb(191, 191, 191);
  margin-top: 30px;
}

/* Circle */
.circle {
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsl(234, 85%, 45%, 0));
  max-width: 180px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  margin: auto;
  margin-top: 30px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.in-circle h1 {
  color: white;
  font-size: 75px;
}
.in-circle p {
  color: #887cff;
  font-size: large;
  margin-top: -10px;
}

/* end left */
.in-box-left {
  color: rgb(183, 183, 183);
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.in-box-left h1 {
  color: white;
  margin-bottom: 10px;
}

/* Box Right */
.box-right {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0px 40px 40px 0px;
  margin-left: -10px;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 255, 0.043);
}

.in-box-right {
  padding-left: 40px;
  padding-right: 30px;
}

.summary {
  margin-top: 30px;
  margin-bottom: 30px;
}

.box-column {
  background-color: blanchedalmond;
  padding: 13px;
  border-radius: 10px;
  margin-top: 17px;
  font-weight: 800;
}

.box-row {
  display: grid;
  grid-template-columns: 30px 1fr 30px auto;
  align-items: center;
  justify-content: space-between;
  font-size: large;
}

.row-left {
  display: flex;
}

.row-left-text {
  margin-left: 5px;
}

button {
  color: white;
  border: 0px;
  border-radius: 30px;
  width: 100%;
  padding: 17px;
  margin: 25px 0px;
  font-size: medium;
  background-color: hsl(224, 30%, 27%);
  cursor: pointer;
}

button:hover {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(234, 85%, 45%)
  );
}

/********** Mobile 535px - 375px *********/

@media only screen and (max-width: 535px) {
  .container {
    max-width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  .box-left {
    border-radius: 0px 0px 40px 40px;
  }
}
